
<div class="scrolling-wrapper">
  <div class="filter-buttons mt-2">
    <!-- Filtros -->
    <button class="filter-button" (click)="applyFilter('grayscale')">Grayscale</button>
    <button class="filter-button" (click)="applyFilter('sepia')">Sepia</button>
    <button class="filter-button" (click)="applyFilter('blur')">Blur</button>
    <button class="filter-button" (click)="applyFilter('invert')">Invertir colores</button>
    <button class="filter-button" (click)="applyFilter('min-saturate')">Saturación mínima</button>
    <button class="filter-button" (click)="applyFilter('low-contrast')">Contraste bajo</button>
    <button class="filter-button" (click)="applyFilter('blacklight')">Luz negra</button>
</div>
</div>

