<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      <img src="../../assets/pictures/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="notification is-warning has-text-centered">
          <input class="file-input" type="file" accept="image/*">
          <ion-icon name="images-outline" class="fa-lg"></ion-icon>
          <p class="mt-2">Upload an image from your gallery</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
