<ion-header class="home-header">
  <ion-toolbar>
    <ion-title class="home-title">
      <img src="../../assets/pictures/logo.png" class="piclab-logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content ion-padding">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <!-- Mostrar el botón para cargar la imagen -->
        <div *ngIf="!selectedImage" class="gallery-button notification is-warning has-text-centered">
          <input class="file-input" type="file" accept="image/*" (change)="onFileSelected($event)">
          <ion-icon name="images-outline" class="fa-lg"></ion-icon>
          <p class="mt-2">Sube tu imagen</p>
        </div>
        <!-- Mostrar la imagen cargada y los botones de acción -->
        <div class="has-text-centered" *ngIf="selectedImage">
          <!-- Imagen cargada -->
          <img [src]="selectedImage" class="filtered-image is-centered-horizontally" [ngClass]="selectedFilter" />
          <!-- Filtros -->
            <app-filters></app-filters>
          <!-- Botones -->
          <app-buttons></app-buttons>
        </div>
      </div>
    </div>
  </div>
</ion-content>
